.normalmenu {
  align-items: center;
  display: inline-flex;
  background-color: rgba(255, 255, 255, .0);
  position: fixed;
  top: 0;
  width:100%;
}

.scrollmenu {
  align-items: center;
  display: inline-flex;
  background-color: rgba(255, 255, 255, .8);
  position: fixed;
  top: 0;
  width:100%;
}

.logo {
  color: white;
  align-items: center;
  width: 15%;
  justify-content: center;
  margin: 15px;
}

.menu {
  color: white;
  width: 85%;
  display: inline-flex;
  justify-content: flex-end;
}

.item {
  color: #00838f;
  font-weight: bold;
  text-decoration: none;
  margin-right: 8%;
}

.item:hover {
  color: #4dd0e1;
  text-decoration: none;
}

.active{
  color: #4dd0e1;
  font-weight: bold;
  text-decoration: none;
  margin-right: 8%;
  border-bottom: 4px dotted #4dd0e1;
}

.active:hover{
  color: #4dd0e1;
  text-decoration: none;
}
